<section>
	<swiper-container class="custom-swiper" navigation="true" pagination="true" pagination-clickable="true" slides-per-view="3" free-mode="true">
		<swiper-slide class="slide-content"><app-event-card></app-event-card></swiper-slide>
		<swiper-slide class="slide-content"><app-event-card></app-event-card></swiper-slide>
		<swiper-slide class="slide-content"><app-event-card></app-event-card></swiper-slide>
		<swiper-slide class="slide-content"><app-event-card></app-event-card></swiper-slide>
	</swiper-container>
</section>

