<section>
	<div class="container">
		<h2>Insert the code you just received</h2>
		<div class="inputbox">
			<input type="password" required placeholder="">
			<label for="">Code</label>
		</div>
		<div class="inputbox">
			<input type="password" required placeholder="">
			<label for="">New password</label>
		</div>
		<div class="inputbox">
			<input type="password" required placeholder="">
			<label for="">Confirm password</label>
		</div>
		<button routerLink="/reset-password">Reset password</button>
	</div>
</section>
