<a [routerLink]="['/event-info', event.id]">
	<mat-card class="event-card" [style.background-image]="'url(' + event.imageURL + ')'">
		<mat-card-header>
			<mat-card-title class="title">{{ event.title }}</mat-card-title>
			<p class="category" [ngStyle]="{'background-color': categoryColors[event.category]}">{{ event.category }}</p>
		</mat-card-header>
		<mat-card-content>
			<p class="description">{{ event.description }}</p>
		</mat-card-content>
		<mat-card-footer class="footer">
			<p class="address">{{ event.address }}</p>
			<p class="time">{{ event.date | date: 'dd/MM/yyyy HH:mm' }}</p>
		</mat-card-footer>
	</mat-card>
</a>
