.navbar {
	display: flex;
	justify-content: space-between; /* Spazio tra gli elementi */
	align-items: center;
	background-color: white;
	height: 10%;
	border-bottom: 1px solid black;
}

.title{
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	color: #FF6700;
}
mat-icon-button{
	font:50px;
}

.mat-icon {
	transform: scale(2);
 }

 .icon-color{
	color: #004E98;
 }


