<nav class="navbar">
	<p class="title">Eventify</p>
	<button mat-icon-button routerLink="/home">
		<mat-icon class="icon-color">home</mat-icon>
	</button>
	<!-- <button mat-icon-button routerLink="/event-board">
		<mat-icon class="icon-color">event</mat-icon>
	</button> -->
	<button mat-icon-button (click)="updateRedirection('/event-board'); authenticate()">
		<mat-icon class="icon-color">event</mat-icon>
	</button>
	<button mat-icon-button [matMenuTriggerFor]="notifiche" (menuOpened)="resetNumeroNotifiche()">
		<mat-icon class="icon-color" [matBadge]="numeroNotifiche" matBadgeSize="small" [matBadgeHidden]="numeroNotifiche == 0" matBadgeColor="warn">notifications</mat-icon>
	  </button>


	<div style="max-height: 300px; overflow-y: scroll;">
		<mat-menu #notifiche="matMenu">
			<mat-list class="custom-list">
				<button mat-menu-item [disabled]="true">Elemento 1</button>
				<button mat-menu-item [disabled]="true">Elemento 2</button>
				<button mat-menu-item [disabled]="true">Elemento 2</button>
				<button mat-menu-item [disabled]="true">Elemento 2</button>
				<button mat-menu-item [disabled]="true">Elemento 2</button>
				<button mat-menu-item [disabled]="true">Elemento 2</button>
				<button mat-menu-item [disabled]="true">Elemento 2</button>
				<button mat-menu-item [disabled]="true">Elemento 2</button>
				<button mat-menu-item [disabled]="true">Elemento 1</button>
			</mat-list>
		</mat-menu>
	</div>

	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon class="icon-color">person</mat-icon>
	</button>
	<mat-menu class="menu" #menu="matMenu">
		<a mat-menu-item routerLink="/home">Home</a>
		<a mat-menu-item (click)="updateRedirection('/event-board'); authenticate()">Board</a>
		<a mat-menu-item (click)="updateRedirection('/my-events'); authenticate()">My Events</a>
		<a mat-menu-item (click)="updateRedirection('/registered-events'); authenticate()">Registered Event</a>
		<!-- <a mat-menu-item routerLink="/event-board">Board</a>
		<a mat-menu-item routerLink="/my-events-">My Events</a>
		<a mat-menu-item routerLink="/registered-events">Registered Event</a> -->
		<a class="not-logged" mat-menu-item routerLink="/login">Sign in</a>
		<a class="not-logged" mat-menu-item routerLink="/register">Register</a>
		<a mat-menu-item routerLink="/profile">Profile</a>
		<a mat-menu-item (click)="logout()">Log out</a>
	</mat-menu>
</nav>
