.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color:#FAF9F9;
	height: 10%;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
}

.logo {
	height: 100%;
}

.logo img {
	max-height: 100%;
	max-width: 100%;
}

.nav-links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	text-align: center;
}

.home {
	color: red;
}

.events {
	color: orange;
}

.home,
.events {
	font-size: 50px;
	font: bold;
	flex: 1;
	text-align: center;
	text-decoration: none;
}

.user {
	display: flex;
	align-items: center;
	font-size: 40px;
	color: rgb(30, 70, 217);
	width: fit-content;
	height: fit-content;
}

.bi-person {
	color: rgb(30, 70, 217);
	margin-left: auto;
}

@media (max-width: 768px) {
	.home, .events, .bi-person-circle {
		font-size: 18px;
		padding-top: 5px;
	}
}

.logged {
	display: none;
}

.bi-bell{
	color: rgb(255, 0, 0);
	margin-left: auto;
}


::ng-deep .custom-list {
	overflow-y: auto;
  }
