section {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	min-height: 80vh;
	background: url('/assets/back2hd.jpeg')no-repeat;
	background-size: cover;
	background-position: center;
}

  .example-card {
	width: 30%;
	margin-bottom: 8px;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	background: transparent;
	background-color: rgba(92, 80, 80, 0.707);
	backdrop-filter: blur(15px);
	display: flex;
	flex-direction: column;
	position: relative;
  }

