section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 80vh;
	background: url('/assets/back2hd.jpeg');
	background-size: cover;
	background-position: center;
}

.event {
	max-height: 90%;
	width: 60%;
	display: block;
	color: white;
	border-radius: 20px;
	background: #ff6600d7;
	backdrop-filter: blur(15px);
	align-items: center;
	padding: 20px;
}

h2 {
	font-size: 2em;
	color: #fff;
	text-align: center;
}

.inputbox {
	display: flex;
	margin-bottom: 20px;
}

input,
.description {
	width: 50%;
}

.category,
.date-time {
	width: 30%;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	height: 40px;
	width: 50%;
	border-radius: 20px;
	cursor: pointer;
	background-color: #fff;
	color: black;
	font-weight: 800;
}

button:hover {
	background-color: #C0C0C0;
}

.alert {
	padding: 0;
	padding-left: 20px;
	margin-bottom: 0;
	text-align: center;
	color: red;
	font-weight: 500;
}

.photo-alert {
	margin-bottom: 10px;
	text-align: center;
	color: #004E98;
	font-weight: 500;
}
