section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 80vh;
	background: url('/assets/back2hd.jpeg');
	background-size: cover;
	background-position: center;
}

.event {
	max-height: 90%;
	width: 60%;
	display: block;
	color: white;
	border-radius: 20px;
	background: #fe6d0dca;
	backdrop-filter: blur(15px);
	align-items: center;
	padding: 20px;
}

h2 {
	font-size: 2em;
	color: #004E98;
	text-align: center;
	font-weight: 800;
}

.inputbox {
	display: flex;
	margin-bottom: 20px;
}

input {
	width: 50%;
	background-color: #C0C0C0;
	border: 1px solid white;
	border-radius: 10px;
	padding-left: 10px;
	color: white;
}

.description {
	width: 100%;
	height: 100px;
	background-color: #C0C0C0;
	border: 1px solid white;
	border-radius: 10px;
	padding-left: 10px;
	color: white;
}

.category,
.date-time {
	width: 30%;
	background-color: #C0C0C0;
	border: 1px solid white;
	border-radius: 10px;
	padding-left: 10px;
	color: white;
}

.photo {
	background: transparent;
	border: none;
	padding-left: 5px;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	height: 40px;
	width: 30%;
	border-radius: 20px;
	cursor: pointer;
	background-color: #fff;
	color: #004E98;
	font-size: 18px;
	font-weight: 800;
}

button:hover {
	background-color: #C0C0C0;
}

.alert {
	padding: 0;
	padding-left: 20px;
	margin-bottom: 0;
	text-align: center;
	color: red;
	font-weight: 500;
}

.photo-alert {
	margin-bottom: 10px;
	text-align: center;
	color: #004E98;
	font-weight: 500;
}

@media (max-width: 768px) {

	.event {
		width: 90%;
	}

	input,
	.category,
	.date-time,
	.photo {
		width: 100%;
	}
}
