<section>
	<div class="form-box">
		<div class="form-value">
			<form [formGroup]="registerForm" action="" (ngSubmit)="onSubmit()">
				<h2>Create a new profile</h2>
				<div class="inputbox">
					<div class="input-container">
						<label for="firstName">First name</label>
						<input type="text" id="firstName" formControlName="firstName">
						<div class="alert" *ngIf="registerForm.get('firstName')?.hasError('pattern')">
							Invalid first name!
						</div>
					</div>
				</div>
				<div class="inputbox">
					<div class="input-container">
						<label for="lastName">Last name</label>
						<input type="text" id="lastName" formControlName="lastName">
						<div class="alert" *ngIf="registerForm.get('lastName')?.hasError('pattern')">
							Invalid last name!
						</div>
					</div>
				</div>
				<div class="inputbox date">
					<div class="input-container">
						<label for="dateOfBirth">Date of birth</label>
						<input type="date" id="date" formControlName="dateOfBirth">
						<div class="alert" *ngIf="registerForm.get('dateOfBirth')?.hasError('minAge') && !registerForm.get('dateOfBirth')?.hasError('required')">
							You must be at least 18 to register!
						</div>
					</div>
				</div>
				<div class="inputbox">
					<div class="input-container">
						<label for="email">Email</label>
						<input type="email" formControlName="email">
						<div class="alert" *ngIf="registerForm.get('email')?.hasError('pattern')">
							Invalid email!
						</div>
					</div>
				</div>
				<div class="inputbox password">
					<div class="input-container">
						<div class="password-container">
							<label for="password">Password</label>
							<input type="{{ isPasswordVisible ? 'text' : 'password' }}" id="password" formControlName="password">
							<i class="bi" [ngClass]="{'bi-eye': !isPasswordVisible, 'bi-eye-slash': isPasswordVisible}" (click)="togglePasswordVisibility()"></i>
						</div>
						<div class="alert" *ngIf="(registerForm.get('password')?.hasError('pattern')) || (registerForm.get('password')?.hasError('minlength'))">
							Password must contain at least one capital letter. <br>
							Password must be long at least 8 characters. <br>
							Password must contain at least one number and one special character.
						</div>
					</div>
				</div>
				<div class="inputbox confirm-password">
					<div class="input-container">
						<div class="password-container">
							<label for="confirm-password">Confirm password</label>
							<input type="{{ isPassword2Visible ? 'text' : 'password' }}" id="confirmPassword" formControlName="confirmPassword">
							<span class="bi" [ngClass]="{'bi-eye': !isPassword2Visible, 'bi-eye-slash': isPassword2Visible}" (click)="togglePasswordVisibility2()"></span>
						</div>
						<div class="alert" *ngIf="registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value">
							Password does not match
						</div>
					</div>
				</div>
				<div class="inputbox upload">
					<div class="input-container">
						<label for="fileInput" class="custom-upload">Upload photo</label>
						<input type="file" #fileInput id="file" formControlName="photo">
						<span id="fileName" class="file-name"></span>
					</div>
				</div>
				<div class="inputbox privacy">
					<div class="input-container">
						<label for="privacy">Accept terms and conditions</label>
						<input type="checkbox" class="checkbox" formControlName="privacy">
					</div>
				</div>
				<button type="submit" [disabled]="!registerForm.valid">Register</button>
				<div class="inputbox error">
					<div class="error-message" *ngIf="showError">
						{{ errorMessage }}
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
