<section>
	<div class="form-box">
		<form class="form-space" [formGroup]="registerForm" action="" (ngSubmit)="onSubmit()">
			<h2>Create a new profile:</h2>
			<div class="inputbox">
				<div class="input-container">
					<label for="firstName">First name</label>
					<input type="text" id="firstName" formControlName="firstName">
				</div>
				<div class="alert" *ngIf="registerForm.get('firstName')?.hasError('pattern')">
					Invalid first name!
				</div>
			</div>
			<div class="inputbox">
				<div class="input-container">
					<label for="lastName">Last name</label>
					<input type="text" id="lastName" formControlName="lastName">
				</div>
				<div class="alert" *ngIf="registerForm.get('lastName')?.hasError('pattern')">
					Invalid last name!
				</div>
			</div>
			<div class="inputbox date">
				<div class="input-container">
					<label for="dateOfBirth">Date of birth</label>
					<input type="date" id="date" formControlName="dateOfBirth">
				</div>
				<div class="alert"
					*ngIf="registerForm.get('dateOfBirth')?.hasError('minAge') && !registerForm.get('dateOfBirth')?.hasError('required')">
					You must be at least 18 to register!
				</div>
				<div class="alert" *ngIf="registerForm.get('dateOfBirth')?.hasError('futureDate')">
					Invalid date!
				</div>
			</div>
			<div class="inputbox">
				<div class="input-container">
					<label for="email">Email</label>
					<input type="email" formControlName="email">
				</div>
				<div class="alert" *ngIf="registerForm.get('email')?.hasError('pattern')">
					Invalid email!
				</div>
			</div>
					<div class="inputbox password">
						<div class="input-container">
							<label for="password">Password</label>
							<div class="password-container">
								<input type="{{ isPasswordVisible ? 'text' : 'password' }}" id="password"
									formControlName="password">
								<mat-icon class="bi" (click)="togglePasswordVisibility()">
									{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}
								</mat-icon>
							</div>
						</div>
						<div class="alert"
							*ngIf="(registerForm.get('password')?.hasError('pattern')) || (registerForm.get('password')?.hasError('minlength'))">
							Password must contain at least 8 characters, a capital letter, a number and one special character.
						</div>
					</div>
					<div class="inputbox password">
						<div class="input-container">
							<label for="confirm-password">Confirm password</label>
							<div class="password-container">
								<input type="{{ isPassword2Visible ? 'text' : 'password' }}" id="confirmPassword"
									formControlName="confirmPassword">
								<mat-icon class="bi" (click)="togglePasswordVisibility2()">
									{{ isPassword2Visible ? 'visibility_off' : 'visibility' }}
								</mat-icon>
							</div>
						</div>
						<div class="alert"
							*ngIf="registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value">
							Password does not match
						</div>
					</div>
					<div class="inputbox upload">
						<div class="input-container">
							<label for="fileInput" class="upload-label">Upload photo</label>
							<input type="file" #fileInput id="file" formControlName="photo" accept="image/*">
							<span id="fileName" class="file-name"></span>
						</div>
						<div class="photo-alert" *ngIf="registerForm.get('photo')?.hasError('required')">
							Photo missing!
						</div>
					</div>
			<div class="inputbox privacy">
				<label for="privacy" class="privacy-label">Accept terms and conditions:</label>
				<div class="input-container">
					<input class="checkbox" type="checkbox" formControlName="privacy">
				</div>
			</div>
			<button type="submit" [disabled]="!registerForm.valid">Register</button>
			<div class="inputbox error">
				<div class="error-message" *ngIf="showError">
					{{ errorMessage }}
				</div>
			</div>
		</form>
	</div>
</section>
