<section>
    <div class="form-box">
        <div class="form-value">
            <form [formGroup]="loginForm" action="" (ngSubmit)="onSubmit()">
                <h2>Login</h2>
                    <div class="inputbox">
                        <span class="bi"><i class="bi bi-envelope"></i></span>
                        <input type="email" formControlName="email" required placeholder="">
                        <label for="email">Email</label>
                    </div>
                <div class="inputbox">
                    <span class="bi" [ngClass]="{'bi-eye': !isPasswordVisible, 'bi-eye-slash': isPasswordVisible}" (click)="togglePasswordVisibility()"></span>
                    <input type="{{ isPasswordVisible ? 'text' : 'password' }}" formControlName="password" required placeholder="">
                    <label for="password">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me  <a routerLink="/forgot-password">Forgot Password?</a></label>
                </div>
                <button type="submit">Log in</button>
                <div class="inputbox error">
                    <div class="error-message" *ngIf="showError">
                        {{ errorMessage }}
                    </div>
                </div>
                <div class="register">
                    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
