.blank-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 70%;
	height: 20%;
	border-radius: 10px;
	box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.581);
	background-size: cover;
	background-position: center;
	cursor: pointer;
	color: white;
	border: solid black;
	top: 33%;
	margin-right: 40px;
}

	.blank-card:hover{
		box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
	}

.giant-plus {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, color 0.3s;
	font-size: 500%;
	color: rgba(0, 0, 0, 0.566);
}

	.giant-plus:hover {
		color: rgb(38, 0, 255);
	}

.center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}

@media screen and (max-width: 768px) {

	.blank-card {
		width: 40%;
	}
}

@media screen and (min-width: 1400px) {

	.blank-card {
		width: 100%;
	}
}