swiper-container {
	width: 100%;
}

swiper-slide {
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: 20px;
	font-weight: 900;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 100%;
	backdrop-filter: blur(30px);
	background: white;
}

@media screen and (max-width: 768px) {
	
}