swiper-container {
	width: 100%;
	height: 100%;
}

swiper-slide {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: 20px;
	font-weight: 900;
}


section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 100%;
	backdrop-filter: blur(30px);
	background: white;
	background-size: 100% 100%;
	background-position: center;
	padding-top: 5px;
}

.mat-chip-listbox {
	align-self: flex-start;
}