<section>
	<div class="form-box">
		<div class="form-value">
			<form [formGroup]="registerForm" action="" (ngSubmit)="onSubmit()">
				<h2>Create a new profile</h2>
				<div class="inputbox">
					<div class="input-container">
					  <input type="text" id="firstName" formControlName="firstName">
					  <label for="firstName">First name</label>
					</div>
					<div *ngIf="registerForm?.get('firstName')?.touched && registerForm?.get('firstName')?.invalid" class="alert">
						<div *ngIf="registerForm?.get('firstName')?.hasError('required')">
						  Invalid first name!
					  </div>
					  <div *ngIf="registerForm.get('firstName')?.hasError('pattern') && registerForm.get('firstName')?.touched">
						Insert only letters please
					  </div>
					</div>
				</div>
				<div class="inputbox">
					<div class="input-container">
						<input type="text" id="lastName" formControlName="lastName">
						<label for="lastName">Last name</label>
					</div>
					<div *ngIf="registerForm?.get('lastName')?.invalid && registerForm?.get('lastName')?.touched" class="alert">
						<div *ngIf="registerForm?.get('lastName')?.hasError('required')">
							Invalid last name!
						</div>
					</div>
				</div>
				<div class="inputbox date">
					<div class="input-container">
						<label for="dateOfBirth">Date of birth</label>
						<input type="date" formControlName="dateOfBirth">
					</div>
				</div>
				<div class="inputbox">
					<div class="input-container">
						<input type="email" formControlName="email">
						<label for="email">Email</label>
						<div *ngIf="registerForm?.get('email')?.invalid && registerForm?.get('email')?.touched" class="alert">
							<div *ngIf="registerForm?.get('email')?.hasError('required')">
								Invalid email!
							</div>
						</div>
					</div>
				</div>
				<div class="inputbox password">
					<div class="input-container">
						<div class="password-container">
							<input type="{{ isPasswordVisible ? 'text' : 'password' }}" id="pwd" formControlName="password">
							<span class="bi" [ngClass]="{'bi-eye': !isPasswordVisible, 'bi-eye-slash': isPasswordVisible}" (click)="togglePasswordVisibility()"></span>
						</div>
						<label for="pwd">Password</label>
					</div>
				</div>
				<div class="inputbox confirm-password">
					<div class="input-container">
						<div class="password-container">
							<input type="{{ isPassword2Visible ? 'text' : 'password' }}" id="pwd2" formControlName="confirmPassword">
							<span class="bi" [ngClass]="{'bi-eye': !isPassword2Visible, 'bi-eye-slash': isPassword2Visible}" (click)="togglePasswordVisibility2()"></span>
						</div>
						<label for="pwd">Confirm password</label>
						<div *ngIf="registerForm?.get('confirmPassword')?.hasError('passwordMismatch')" class="alert">
							Passwords do not match!
						</div>
					</div>
				</div>
				<div class="inputbox upload">
					<div class="input-container">
						<input type="file" #fileInput id="file" formControlName="photo">
						<label for="fileInput" class="custom-upload">Upload profile photo</label>
						<span id="fileName" class="file-name"></span>
					</div>
				</div>
				<div class="inputbox privacy">
					<div class="input-container">
						<input type="checkbox" class="checkbox" formControlName="privacy">
						<label for="privacy">Accept terms and conditions</label>
					</div>
				</div>
				<button type="submit" [disabled]="!registerForm.valid">Register</button>
			</form>
		</div>
	</div>
</section>
