<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPhotos - Forgot Password</title>
    <!-- Include your CSS and JavaScript as needed -->
</head>
<body>

<header>

</header>

<main class="admin">

    <h1>Forgot Password</h1>
    <p>Enter your email address to request a password reset:</p>
    <form action="/api/auth/forgot-password" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Email">
        </div>

        <div class="align-right">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</main>

</body>
</html>
