<!DOCTYPE html>
<html>
<head>
    <title>Lista Eventi</title>
</head>
<body>
    <h1>Lista Eventi</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Luogo</th>
            <th>Descrizione</th>
        </tr>
        <tr th:each="evento : ${eventi}">
            <td th:text="${evento.nome}"></td>
            <td th:text="${#dates.format(evento.data, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${evento.luogo}"></td>
            <td th:text="${evento.descrizione}"></td>
        </tr>
    </table>
</body>
</html>
